
.input-error {
    border: 1px solid red; /* Bôi viền đỏ */
}

.status-due-soon {
    background-color: #FFC800;
}

.status-overdue {
    background-color: #E3503E;
}

.status-notyet-due {
    background-color: #65C728;
}

.roche-svg {
    background-image: url('../../images/Roche.svg');
}

.beckman-svg {
    background-image: url('../../images/Beckman.svg');
}

.abbott-svg {
    background-image: url('../../images/Abbott.svg');
}