.medi-dashboard {
    width: 100%;
    height: 100%;
    padding: 0px 24px;

    .dashboard-row-1 {
        padding: 24px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .row-1--app-title {
            font-weight: 700;
            /* Bold text */
            font-size: 3vw;
            /* Font size */
            color: #2CA01C;
            /* Text color */
            text-align: center;
            /* Center the text */
            text-transform: uppercase;
            /* Make text uppercase for emphasis */
            letter-spacing: 1px;
            /* Add spacing between letters */
            text-shadow:
                3px 3px 0 rgba(255, 255, 255, 0.6),
                /* Bright shadow for lift effect */
                1px 1px 5px rgba(0, 0, 0, 0.5);
            /* Stronger shadow for depth */
            padding: 10px;
            /* Add padding for better spacing */
            margin: 20px 0;
            /* Add margin for spacing above and below */
            transition: transform 0.3s ease, color 0.3s ease;
            /* Smooth transition for hover effect */

            &:hover {
                transform: translateY(-2px);
                /* Slightly lift the text on hover */
                color: #1A7A0D;
                /* Darker shade on hover for contrast */
                text-shadow:
                    3px 3px 0 rgba(255, 255, 255, 0.8),
                    /* Brighter shadow on hover */
                    1px 1px 5px rgba(0, 0, 0, 0.7);
                /* Stronger shadow for depth */
            }
        }

        .row-1--device-1,
        .row-1--device-2 {
            height: 100%;
            width: 25%;
            border-radius: 4px;
        }

    }

    .dashboard-row-1,
    .dashboard-row-2,
    .dashboard-row-3,
    .dashboard-row-4 {
        width: 100%;
        height: 24%;
        display: flex;
        align-items: center;
    }

    .dashboard-row-4 {
        justify-content: space-around;

        .row-3--kind {
            background-color: #1677ff;
            border-radius: 4px;
            padding: 8px;
            color: #fff;
            font-weight: 700;
            max-width: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            transition: all 0.3s ease;

            &:hover {
                cursor: pointer;
                box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px, #0a254059 0px -2px 6px 0px inset;
                transform: translateY(-2px);
                /* Slightly lift the button */
            }
        }
    }

    .dashboard-row-3 {
        justify-content: space-between;

        .row-3--branch {
            height: 100%;
            border-radius: 4px;
            max-width: 30%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            transition: all 0.3s ease;
            padding: 8px;

            .branch-img {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                /* Center the background image */
                width: 100%;
                height: 100%;
            }

            &:hover {
                cursor: pointer;
                box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px, #0a254059 0px -2px 6px 0px inset;
                transform: translateY(-2px);
                /* Slightly lift the button */
            }
        }
    }

    .dashboard-row-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .row-2--group {
            color: #fff;
            padding: 8px 15px;
            border-radius: 4px;
            font-weight: 700;
            font-size: 18px;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            transition: all 0.3s ease;
            /* Smooth transition for hover effects */
            flex: 0 0 30%;
            height: 50%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &:hover {
                cursor: pointer;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                transform: translateY(-2px);
                /* Slightly lift the button */
            }

            .group-1--info {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.medi-devices {
    width: 100%;
    height: 100%;

    .devices__topbar {
        padding: 8px;
        width: 100%;
        height: 3.5rem;
        background-color: #e2e4e9;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .devices__content {
        width: 100%;
        height: calc(100% - 3.5rem);
    }

    .devices__topbar--right {
        .right-btn-search {
            margin-right: 8px;
            width: 18rem;
            border-radius: 6px;

            button,
            input {
                &:hover {
                    color: #2CA01C !important;
                    border-color: #2CA01C;
                }
            }
        }
        .right-btn-add {
            background-color: #2CA01C;
            color: #fff;
            margin-right: 4px;

            &:hover {
                color: #fff;
                background-color: #5db351;
                border-color: #5db351;
            }
        }
        .right-btn-excel {
            border-color: #2CA01C;
            background-color: #fff;
            color: #2CA01C;
            
            &:hover {
                color: #2CA01C;
                background-color: #dbebd9;
                border-color: #2CA01C;
            }
        }
    }
}



.medi-devices-detail {
    width: 100%;
    height: 100%;

    .devices-detail__topbar {
        padding: 8px;
        width: 100%;
        height: 3.5rem;
        background-color: #e2e4e9;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail__topbar--left {
            display: flex;
            align-items: center;
        }

        .detail__topbar--right {
            display: flex;
            align-items: center;
        }
    }

    .devices-detail__content {
        width: 100%;
        height: calc(100% - 3.5rem);
        background-color: #fff;
        
    }
}